/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Lato&display=swap");

/* Define custom variables */
:root {
  /* Colors */

  /* Standard pxs */
  --xx-big: 128px;
  --x-big: 64px;
  --big: 32px;
  --normal: 16px;
  --small: 8px;
  --x-small: 4px;
  --xx-small: 2px;

  /* Others */
}

/* Apply general styling and reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

input,
button {
  font: inherit;
  padding: var(--x-small) var(--small);
}

body {
  background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5));
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  padding: var(--small);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 var(--small) rgba(255, 255, 255, 0.1);
}

header *,
::placeholder,
main {
  color: rgba(255, 255, 255, 0.8);
}

.search {
  border: var(--xx-small) solid rgba(255, 255, 255, 0.8);
  border-radius: var(--big);
  padding: var(--xx-small) var(--x-small);
}

.search form {
  display: flex;
  align-items: center;
}

form>* {
  border: none;
  outline: none;
  background-color: transparent;
}

.search .mdi,
.toggle-temperature {
  cursor: pointer;
}

.toggle-temperature button {
  border: var(--xx-small) solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  background-color: transparent;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: var(--normal);
  padding: var(--normal);
}

main .left-information {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: var(--small);
}

.left-information>div {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  border-radius: var(--normal);
  padding: var(--small) var(--big);
  display: flex;
  align-items: center;
  gap: var(--normal);
}

.left-information>div span {
  font-size: var(--x-big);
}

main .middle-information {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  border-radius: var(--normal);
  padding: var(--big);
}

.middle-information .location,
.middle-information .condition {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: var(--x-small);
}

.middle-information .temperature-and-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temperature-and-icon .icon {
  width: var(--xx-big);
  height: auto;
}

.icon img {
  height: auto;
  width: 100%
}

.middle-information .temperature {
  font-size: var(--xx-big);
  font-family: 'Lato', sans-serif;
}

.middle-information hr {
  margin: var(--normal) auto;
}

.middle-information .date-and-time {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: var(--x-small);
}

main .right-information {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--small);
}

.right-information>div {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  border-radius: var(--normal);
  padding: var(--small) var(--big);
  display: flex;
  align-items: center;
  gap: var(--normal);
}

.right-information>div span {
  font-size: 84px;
}


@media screen and (320px <=width <=425px) {
  body {
    font-size: 0.9rem;
  }

  header {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    place-items: center;
  }

  header h1 {
    font-size: 1rem;
    text-align: center;
  }

  header .logo span {
    display: none;
  }

  header .search {
    max-width: 90%;
  }

  .search input {
    max-width: 80%
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main .left-information {
    order: 3;
    font-size: 1rem;
  }

  .left-information>div {
    padding: var(--x-small) var(--small);
  }

  main .middle-information {
    order: 1;
    padding: var(--normal);
  }

  .middle-information .mdi {
    font-size: 1.25rem;
  }

  .middle-information .location,
  .middle-information .condition {
    font-size: 1rem;
  }

  .middle-information .temperature-and-icon .icon {
    width: var(--x-big);
    height: auto;
  }

  .temperature-and-icon .temperature {
    font-size: var(--x-big);
  }

  .middle-information hr {
    margin: var(--small) auto;
  }

  .middle-information .date-and-time {
    font-size: 0.9rem;
  }

  main .right-information {
    order: 2;
    font-size: 1rem;
  }

  .right-information>div {
    padding: var(--x-small) var(--small);
  }

  .right-information>div span {
    font-size: var(--x-big);
  }
}