/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Lato&display=swap");

/* Define custom variables */
:root {
  /* Colors */

  /* Standard pxs */
  --x-big: 64px;
  --big: 32px;
  --normal: 16px;
  --small: 8px;
  --x-small: 4px;
  --xx-small: 2px;

  /* Others */
}

/* Apply general styling and reset */
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

input,
button {
  font: inherit;
  padding: var(--x-small) var(--small);
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#87ceeb, #f0f0f0);
  display: grid;
  grid-template-rows: 12.5vh auto;
}

header,
main,
footer {
  padding: var(--small);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 var(--small) rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo .mdi {
  font-size: var(--x-big);
}

.search {
  border: var(--xx-small) solid black;
  border-radius: var(--big);
  padding: var(--x-small) var(--small);
  margin-left: -17.5%;
}

.search form {
  display: flex;
  align-items: center;
}

.search form > * {
  border: none;
  outline: none;
  background-color: transparent;
}

.search .mdi {
  font-size: 20px;
}

.toggle-temperature button {
  border: var(--xx-small) solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
}

.toggle-temperature button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.toggle-temperature button:active {
  transform: scale(0.9);
}

.toggle-temperature .mdi {
  font-size: 28px;
}

footer {
  position: absolute;
  bottom: 0;
  font-style: italic;
  width: 100%;
  text-align: center;
}

footer .author {
  color: inherit;
}

footer .author:hover {
  font-weight: 900;
}